<nav id="navbar">
  <div id="logo">
    <h1>Portafolio <strong>WEB</strong></h1>
  </div>
  
  <div>
    <% if signed_in? %>
      Bienvenido <%= current_user.name %>
      <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Ingresar", new_user_session_path %>
      <% end %>
  </div>
</nav>

<header id="hero">

<div>
<h1>Gonzalo Cárcamo</h1>
<h4>Fullstack Developer</h4>
<button class="btn-pro">Proyectos</button>
<button id="cv">Currículum</button>
</div>

<div class="hero-img">
<%= image_tag 'perfil.jpg', :class => 'img2' %>
</div>

</header>

<div id="about">
  <div>
  <%= image_tag 'pc.png', :class => 'img2' %>
  </div>

  <div id="about-text">
    <h2>Sobre Mí</h2>
    <p>
      Soy un amante del desarrollo de aplicaciones web y busco un espacio dentro
      de la industria tecnológica.
    </p>

    <ul>
      <li>Maquetaciòn y desarrollo de sitios WEB</li>
      <li>Responsive Design</li>
      <li>Desarrollo de aplicaciones fullstack</li>
    </ul>
  </div>
</div>



<div id="projects">

<% @apps.each do |app| %>
  <div class="project">
   <%= image_tag app.photo, :class => 'img' %>
    <div class="project-body">
      <a class="link" href="<%= app.description %>" target="_blank"><%= app.title %></a>
    </div>

    <div class="options">

    <span>
    <% if signed_in? %>
    <%= link_to "Eliminar", app, method: :delete, data: { confirm: "¿Estás seguro de eliminar este libro?" } %>
    <% end %>
    </span>
    </div>
  </div>
<% end %>
</div>
<td><%= link_to 'New App', new_app_path %></td>
